@charset "utf-8";

.section_title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #485665;

  margin-bottom: 16px;
}

.section_title.mb0 {
  margin-bottom: 0;
}

.section_title h3 {
  font-weight: inherit;
}

.container_box {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,.04);
  overflow: hidden;
  background: #FFF;

  border: 1px solid #ddd;
}

.text-center {
  text-align: center;
}

.hmi img {
  width: 100%;
}

.table-container img {
  width: 40px;
}

.table-container.border {
  border: 1px solid #DDD;
}

.table-container table {
  border-collapse: collapse;
  border-style: hidden;
}

.table-container th,
.table-container tr,
.table-container td {
  border: 1px solid #EEE;
}

.table-container th,
.table-container td {
  padding: 12px;
}

.table-container th {
  font-weight: 700;
  background: #fafafa;
}

.table-container td {
  font-weight: 500;
}

.search_box {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.search_box form {
  display: flex;
  align-items: center;
}

.search_box input {
  width: 140px;
  height: 28px;
  border: 1px solid #DDD;
  border-radius: 4px;
  color: inherit;
  padding: 0 8px;
}

.search_box .as {
  margin: 0 8px;
  color: inherit;
}

.search_box button {
  background-color: #1E6CEB;
  width: 80px;
  border-radius: 4px;
  height: 28px;
  color: #FFF;
  margin-left: 12px;
}

.search_box .feather-search {
  width: 16px;
  height: 16px;
  color: #666;
  margin-right: 12px;
}

.search_box .trend_box button {
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid #DDD;
  color: inherit;
  font-weight: 500;
  width: auto;
  padding: 0 12px;

  transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.search_box .trend_box button:hover {
  background-color: #1E6CEB;
  border: 1px solid #1E6CEB;
  color: #FFF;
}

.download_box {
  display: flex;
  align-items: center;
}

.download_box li {
  display: flex;
  align-items: center;
}

.download_box li:not(:last-child) {
  margin-right: 16px;
}

.download_box li .feather {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.download_box li a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.download_box li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #1E6CEB;

  position: absolute;
  left: 50%;
  bottom: -6px;

  transform: translateX(-50%);

  transition: width 0.5s;
}

.download_box li a:hover::after {
  width: 100%;
}

.download_box li a:hover {
  color: #1E6CEB;
}

.download_box li a:hover .feather {
  color: #1E6CEB;
}

.update_text {
  font-size: 1.4rem;
  font-weight: 500;
  height: 18px;

  display: flex;
  align-items: center;

  position: relative;
}

.update_text .update_date {
  font-weight: 500;
}

.update_text a {
  margin-left: 8px;
}

.update_text .feather {
  width: 16px;
  height: 16px;
}

.update_text .updateLoading {
  margin-left: 8px;
}

.progress-bar {
  position:absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -8px;
  z-index: 2000;
  overflow: hidden;

  display: flex;
}

.progress-bar svg path {
  stroke: #1E6CEB !important;
}

/* fems data */

/* dashboard */
.update {
  height: 20px;
  display: flex;
  align-items: center;

  position: relative;
}

.update,
.update_time {
  font-weight: 500;
  color: #444;
}

.update_btn .feather {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.update_btn img {
  display: inline-block;
  margin-left: 8px;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-box_ahu {
  width: 24.23857868020305%;
  height: 400px;
  width: 400px;
  background-color: #FFF;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 0 0 6px rgba(0,0,0,.04);
  padding: 16px;
}

.dashboard-box {
  width: 24.23857868020305%;
  height: 245px;
  background-color: #FFF;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 0 0 6px rgba(0,0,0,.04);
  padding: 16px;
}

.empty {
  width: 24.23857868020305%;
}

.dashboard-box h6 {
  font-size: 16px;
  color: #485665;
  font-weight: 500;
}

.sup_temp,
.set_temp {
  margin-top: 36px;
}

.temp_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp_title {
  font-weight: 500;
  color: #666;
}

.temp_value {
  font-weight: 700;
  font-size: 18px;
  color: #485665;
}

.temp_progress-bar {
  margin-top: 10px;

  height: 20px;
  border-radius: 12px;
  background-color: #f4f5f9;

  display: flex;
  align-items: center;
}

.temp_progress {
  height: 20px;
  width: 0%;

  border-radius: 12px;

  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 5px 5px;

  animation: 1s linear infinite progress-stripes;
}

@keyframes progress-stripes {
  0% {
    background-position-x: 5px;
  }
}

.temp_progress.sup {
  background-color: #4A7EF9;
}

.temp_progress.set {
  background-color: #FF3434;
}

@media screen and (max-width: 1880px) {
  .dashboard-box {
    width: 32.5%;
    max-width: none;
  }
  
  .empty {
    width: 32.5%;
    max-width: none;
  }
}

@media screen and (max-width: 1380px) {
  .dashboard-box {
    width: 49.5%;
    max-width: none;
  }
  
  .empty {
    width: 49.5%;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-box {
    width: 100%;
    max-width: none;
  }
  
  .empty {
    display: none;
  }
}

/* temp svg_ahu */
.svg_box_ahu {
  margin-top: 20px;
  display: inline-flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}

.svg_box_ahu svg {
  transform: rotate(180deg);
  pointer-events: none;
}

.svg_box_ahu .svg_sup_box,
.svg_box_ahu .svg_set_box {
  position: relative;
}

.svg_box_ahu .temp_title,
.svg_box_ahu .temp_value {
  position: absolute;
  white-space: nowrap;
}

.svg_box_ahu .temp_title {
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

.svg_box_ahu .temp_value {
  left: 50%;
  transform: translateX(-50%);
  bottom: 35%;
}

.svg_box_ahu .svg_bg {
  fill: none;
  stroke: #F4F5F5;
  stroke-width: 58;
  stroke-miterlimit: 10;
  stroke-dasharray: 693.2581,693.2581;
}

.svg_box_ahu .svg_sup,
.svg_box_ahu .svg_set {
  fill: none;
  stroke-width: 58;
  stroke-miterlimit: 10; 
  transition: stroke-dasharray 0.7s ease;
}

.svg_box_ahu .svg_sup {
  stroke: #4A7EF9;
}
.svg_box_ahu .svg_set {
  stroke: #FF3434;
}



/* temp svg */
.svg_box {
  margin-top: 20px;
  display: inline-flex;
  align-content: center;
  /* align-items: center; */
  justify-content: center;
}

.svg_box svg {
  transform: rotate(180deg);
  pointer-events: none;
}

.svg_box .svg_sup_box,
.svg_box .svg_set_box {
  position: relative;
}

.svg_box .temp_title,
.svg_box .temp_value {
  position: absolute;
  white-space: nowrap;
}

.svg_box .temp_title {
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

.svg_box .temp_value {
  left: 50%;
  transform: translateX(-50%);
  bottom: 35%;
}

.svg_box .svg_bg {
  fill: none;
  stroke: #F4F5F5;
  stroke-width: 58;
  stroke-miterlimit: 10;
  stroke-dasharray: 693.2581,693.2581;
}

.svg_box .svg_sup,
.svg_box .svg_set {
  fill: none;
  stroke-width: 58;
  stroke-miterlimit: 10; 
  transition: stroke-dasharray 0.7s ease;
}

.svg_box .svg_sup {
  stroke: #4A7EF9;
}
.svg_box .svg_set {
  stroke: #FF3434;
}

/* temp */
.temp_search {
  height: 120px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,.04);
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.temp_search select {
  width: 163px;
  font-size: 24px;
  font-weight: 700;
  color: #1E6CEB;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #ddd;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url('/static/images/arrow.png') no-repeat 98% 50%/16px auto;
}

.temp_search select option {
  font-size: 16px;
  color: #666;
}

.fac_use {
  margin-left: 88px;
}

.fac_loc {
  margin-left: 48px;
}

.fac_use,
.fac_loc {
  /* font-size: 16px; */
  font-weight: 500;
  color: #444;
}

.fac_use::before,
.fac_loc::before {
  width: 11px;
  height: 11px;

  display: inline-block;
  content: "";
  background-color: #5C9AFE;
  margin-right: 12px;
}

.temp_form {
  margin-left: auto;
}

.temp_form label {
  /* font-size: 16px; */
  font-weight: 500;
  margin-right: 12px;
  color: #444;
}

.temp_form input {
  width: 178px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 12px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.temp_form button {
  width: 100px;
  height: 32px;
  background-color: #1E6CEB;
  color: #FFF;
  border-radius: 4px;

  transition: background-color 0.5s;
}

.temp_form button:hover {
  background-color: #175bc7;
}

@media screen and (max-width: 1380px) {
  .temp_search {
    display: block;
    padding-top: 24px;
  }

  .temp_form {
    margin-top: 16px;
  }

  .fac_use,
  .fac_loc {
    vertical-align: middle;
  }
}

@media screen and (max-width: 680px) {
  .temp_search {
    height: auto;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .fac_use,
  .fac_loc {
    margin-left: 0;
    display: block;
    margin-top: 12px;
  }

  .temp_form {
    margin-top: 24px;
  }
}

.temp_chart {
  margin-top: 16px;
  height: 632px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,.04);
  padding: 16px;
}

.temp_chart-container {
  height: 360px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.temp-table {
  height: 224px;
  margin-top: 16px;
  border: 1px solid #eee;
  border-radius: 4px;
}


/* power */
.power_container {
  margin-top: 16px;
  height: 768px;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0,0,0,.04);
  padding: 16px;
}

.power_search {
  display: flex;
  align-items: center;
}

.power_search label {
  font-weight: 500;
  color: #666;
  margin-right: 12px;
}

.power_search input {
  width: 178px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 12px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.power_search button {
  width: 100px;
  height: 32px;
  background-color: #1E6CEB;
  color: #FFF;
  border-radius: 4px;

  transition: background-color 0.5s;
}

.power_search button:hover {
  background-color: #175bc7;
}

.power_container .chart_container,
.power_container .table_container {
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #e4e5e9;
}

.power_container .chart_container {
  height: 400px;
}

.power_container .table_container {
  height: 267px;
}

.table_empty {
  background-color: #f4f5f9;
  border-bottom: 1px solid #ddd;
}


/* tooltip */
#temp_chart,
#chart_container:not(.day) {
  position: relative;
  overflow: hidden;
}

#tooltip {
  position: absolute;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 13px;

  padding: 12px;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;

  pointer-events: none;
  
  z-index: 999;
}

.tooltipDate {
  font-weight: 500;
  padding-bottom: 2px;
  white-space: nowrap;
}

.tooltip_line {
  display: flex;
  align-items: center;
  margin-top: 8px;
  white-space: nowrap;
}

.tooltipTitle {
  font-weight: 700;
  white-space: nowrap;
}

.tooltipTitle.set,
.label.set { color: #FF3434; }
.tooltipTitle.sup,
.label.sup { color: #4A7EF9; }
.tooltipTitle.ret,
.label.ret { color: orange; }
.tooltipTitle.out,
.label.out { color: rgb(105, 199, 168); }
.tooltipTitle.kW,
.label.kW { color: #FFB30D; }

.tooltipValue {
  font-weight: 500;
  white-space: nowrap;
}

.power_search button:disabled,
.temp_form button:disabled {
  background-color: #ddd;
  color: #eee;
  cursor: default;
}

.power_search button:disabled:hover,
.temp_form button:disabled:hover {
  background-color: #ddd;
  color: #eee;
  cursor: default;
}

text {
  font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  letter-spacing: -0.05em;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}

.titleText {
  font-size: 13px;
  font-weight: 500;
}

.chart_container.day {
  padding: 16px;
  overflow: hidden;
}

/* label */
.labels {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.labels>div {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.labels>div input {
  display: none;
}

.labels>div label {
  cursor: pointer;
}

.labels>div label.off {
  color: #ccc;
  text-decoration: line-through;
}

.label_box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 4px;

  margin-right: 8px;
}

.label_box.set { background-color: #FF3434; }
.label_box.sup { background-color: #4A7EF9; }
.label_box.ret { background-color: orange; }
.label_box.out { background-color: rgb(105, 199, 168); }
.label_box.kW { background-color: #FFB30D; }

.label_box.off {
  background-color: #ccc !important;
}